/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
    
}

/* Cabeçalho */
header {
    background-color: black; /* Azul marinho */
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 120px;
    color: royalblue;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seção sobre nós */
.sobre-nos-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 70px;
    background-color: #002147;
  }
  
  .imagem-sobre-nos {
    max-width: 40%; 
    height: auto; 
    border-radius: 15px;
    border: 3px solid #003366; /* Cor da borda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: all 0.3s ease;
  }
  
  .texto-sobre-nos {
    max-width: 55%; 
    font-family: Arial, sans-serif; 
  }
  
  .texto-sobre-nos h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .texto-sobre-nos p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  

/* Seção dos criadores */
.creators {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.creators h2 {
    font-size: 30px;
    color: #002147;
    margin-bottom: 20px;
}

.creator-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

.creator img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.creator p {
    margin-top: 10px;
    font-size: 18px;
    color: #002147;
}


/* Rodapé */
footer {
    background-color: #002147; /* Azul marinho */
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 14px;
}
